form {
    width: 408px;
    height: 420px;
    background: #fff;
    padding: 15px 40px 40px;
    border: 80px transparent black;
    margin: 50px auto 0;
    border-radius: 5px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/admission/1.jpg);
}

input,
select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 196px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 2px;
    /* border: #c42329; */
}

label {
    display: block;
    margin-bottom: 3px
}

.row {
    padding-bottom: 50px;
}

.c1 {
    float: left;
}

.c2 {
    float: right;
}

.form-inline {
    float: left;
}

.form-inline {

    border-radius: 1px;
}

.form-inline label,
.form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 10px;

}

input[type="submit" i] {
    float: left;
    margin-top: 20px;
}

.error {
    color: #c42329;
    font-size: 90%;
}